################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Complier/.vs/Complier/v16
/Complier/Complier.sln
/Complier/Complier/Complier.vcxproj.user
/Complier/Complier/Complier.vcxproj.filters
/Complier/Complier/Complier.vcxproj
/Complier/Complier.vcxproj
/Complier/Complier.vcxproj.filters
/Complier/Complier.vcxproj.user
/Complier/Complier/Debug/Complier.tlog
/Complier/Complier/Debug
/Complier/Debug
/Complier/Complier/.vs/Complier/v16/ipch/AutoPCH
/Complier/Complier/.vs/Complier/v16
/Complier/Complier/Complier.sln
