################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Complier/.vs/Complier/v16
/Complier/Complier.sln
/Complier/Complier/Complier.vcxproj.user
/Complier/Complier/Complier.vcxproj.filters
/Complier/Complier/Complier.vcxproj
/Complier/Complier.vcxproj
/Complier/Complier.vcxproj.filters
/Complier/Complier.vcxproj.user
/Complier/Complier/Debug/Complier.tlog
/Complier/Complier/Debug
/Complier/Debug
/Complier/Complier/.vs/Complier/v16/ipch/AutoPCH
/Complier/Complier/.vs/Complier/v16
/Complier/Complier/Complier.sln
/Complier/enc_temp_folder/508b64f3e1b2e0f92bbd42446c6f539
/Complier/enc_temp_folder/ea29bac404559a0716e31503de4d68b
